:root{
    --blanco:#fff;
    --negro:#000;
    --celeste:#86E3CE;
    --verde:#c4e485;
    --amarillo:#FFDD94;
    --rojo:#FA897B;
    --violeta:#CCABD8;

    --fuentePrincipal:'PT Sans', sans-serif;
    --fuenteSecundaria:'Gemunu Libre', sans-serif;

    --separacion:5rem;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
}
h1,h2,h3{
    font-family: var(--fuenteSecundaria);
}

p,a{
font-family: var(--fuentePrincipal);
}
a{
    text-decoration: none;
}

h1{
    font-size: 4.4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}


/** Utilidades **/
.text-center{
    text-align: center;
}
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

/**  Header **/
.header-logo{
    width: 20rem;
    
}
@media(min-width: 768px) {
    .header-logo{
       margin-left: -3rem;
    }
}
.header-contenedor{
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
@media(min-width: 768px) {
    .header-contenedor{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.header{
    background-image:url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 2rem;
}
@media(min-width: 768px) {
    .header{
        height: 50rem;
    }
}
.comprar a,
.navegacion a{
    color:var(--amarillo);
    font-weight: 700;
    padding: .5rem;
    border-radius: 10px;
    text-align: center;
}

.comprar{
    margin: 5rem  0 0 0;
}
.comprar a{
    margin-left: 1rem;
    background-color: var(--celeste);
    color: var(--negro);
}
.comprar a:hover {
    background-color: var(--negro);
    color: var(--blanco);
}
@media(min-width: 768px) {
    .comprar{
        display: flex;
        justify-content: flex-end;
        margin: 0  0 1rem 0;
    }
    
}
.navegacion a {
    display: block;
    margin-top: 1rem;
}
@media(min-width: 768px) {
    .navegacion a {
        display: inline;
    }
}

.fecha-concierto{
    background-color: var(--celeste);
    text-align: center;
    padding: 1rem 0;
    border-radius:20px;
    
}
@media(min-width: 768px) {
    .fecha-concierto{
        width: 40rem;
        margin-top: 10rem;
    }
}
.fecha-concierto p{
    font-family: var(--fuenteSecundaria);
    font-size: 2rem;
}

/** CONCIERTO **/
@media(min-width: 768px) {
    .concierto{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
}

.informacion-concierto img{
    width: 10rem;
}

.informacion-concierto h2{
    text-align: center;
    margin-top:1rem;
    color: var(--verde);
    font-weight: 700;
}
.informacion-concierto p{
    text-align: center;
}
@media(min-width: 768px) {
    .informacion-concierto p{
        text-align: left;
    }
}

.img-boletos{
    background-color: var(--violeta);
    padding: 0 0 2rem 0;
}
@media(min-width: 768px) {
    .img-boletos{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 2rem;
       padding: 0;
    }
}
@media(min-width: 768px) {
    .texto-boletos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.img-boletos h3{
  color: var(--amarillo);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;

    
}   

.img-boletos p{
    padding: 1rem;
    margin: 0;
}
.boton{
    font-weight: 700;
    color:#FA897B;
    background-color: #000;
    padding: 1.5rem;
    border-radius: 10px;
    display: block;
    text-align: center;
    width: 10rem;
   margin-left: 1rem;
}
.boton:hover{
    background-color:var(--verde);
    color: var(--negro);
}


@media(min-width:768px ) {
    .boton{
        margin: 0 auto;
    }
}

/** FOOTER **/

.footer{
    background-color: var(--negro);
    padding-top:2rem;
    margin-top:2rem;
}

.contenedor-footer p{
    line-height: 1.5;
    text-align: center;
    
    
}

.contenedor-footer{
    margin: 1rem;
    border:1px solid var(--blanco);
    color: var(--blanco);
    transition-property: transform background-size;
    transition-duration: .4s;
    
}
@media(min-width:768px){
    .contenedor-footer{
        max-width:120rem;
        margin:0 auto;
        width: 50%;
    }
}
.contenedor-footer:hover{
    background-color:var(--blanco);
    color:var(--negro);
    border:1px solid var(--verde);
    transform:scale(1.1);
    font-weight: 700;

}
@media(min-width:768px){
    .footer .navegacion{
        display:flex;
        justify-content: center;
        margin-top: 2rem;
    }
}

.footer .text-center{
    color:var(--blanco);
    margin:0;
    padding:2rem 0;
}

/** LINE UP **/
.header-lineup{
    background-color: var(--negro);
}
@media(min-width:768px){
    
    .lineup{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        gap:2rem;
    }

    .card-contenedor:nth-child(3){
        grid-column: 1/3;
    }

    
}
.card-contenedor h2{
    margin:0;
    margin-top:1rem;
}
.card-contenedor h3{
    margin:0;
    margin-bottom:1rem;
}
.card{
    background-color:var(--rojo);
    
}
.card-info p{
    padding:2rem;
    margin:0;
    text-align: center;
}
.card-info span{
    font-weight: 700;
}

.card-info img{
    width:10rem;
    margin:2rem auto;
}

.dia-1 p:nth-child(2),
.dia-1 p:nth-child(4),
.dia-1 p:nth-child(6),
.dia-1 p:nth-child(8){
    background-color:var(--amarillo);
}

.card-2{
    background-color:var(--verde) ;
}
.dia-2 p:nth-child(2),
.dia-2 p:nth-child(4),
.dia-2 p:nth-child(6),
.dia-2 p:nth-child(8){
    background-color:var(--celeste);
}

.card-3{
    background-color:var(--violeta) ;
}
@media(min-width:768px){
    .card-3 > img {
        width:100%;
    }
}
.dia-3 p:nth-child(2),
.dia-3 p:nth-child(4),
.dia-3 p:nth-child(6),
.dia-3 p:nth-child(8){
    background-color:#fb89df
}

@media(min-width:768px){
    .noticias{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
    .noticias h2{
        text-align: center;
        margin:0;
    }
}